<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Git Dash - ' + ${name}">User Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body data-bs-theme="dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <div class="container-fluid">
                <a class="navbar-brand">Git Dash</a>
                <div class="d-flex align-items-center">
                    <span class="navbar-text me-3">Bem-vindo, <span th:text="${name}"></span>!</span>
                    <a href="/logout" class="btn btn-outline-success" aria-label="Logout">Sair</a>
                </div>
            </div>
        </nav>

        <div class="card m-4 mx-auto shadow-lg" style="width: 18rem;">
            <img th:src="${avatarUrl != null ? avatarUrl : 'https://via.placeholder.com/150'}" alt="User Avatar" class="card-img-top rounded">
            <div class="card-body text-center">
                <p class="card-text">Veja seu perfil completo no GitHub</p>
                <a th:href="${htmlUrl}" target="_blank" class="btn btn-primary">Visitar GitHub</a>
            </div>
        </div>

        <h2>Repositórios</h2>
        <div th:if="${#lists.isEmpty(repos)}" class="alert alert-warning mt-4" role="alert">
            Nenhum repositório encontrado.
        </div>
        <ul class="list-group mb-4">
            <li th:each="repo : ${repos}" class="list-group-item d-flex flex-column flex-md-row justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold" th:text="${repo.name}">Nome do Repositório</div>
                    <span th:text="${repo.description}">Descrição do Repositório</span>
                </div>
                <span class="badge text-bg-primary rounded-pill mt-2 mt-md-0" th:text="${repo.commitCount + ' commits'}">0 commits</span>
            </li>
        </ul>
    </div>
</body>
</html>
